@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #23272f;
  padding: 5em 10em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace;
}

.container {
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  max-height: 750px;
  /* padding: 1em; */
}

.container .todo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1em;
  padding-bottom: 6em;
  background: rgb(43, 51, 68);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.container .todo .logo {
  letter-spacing: 3px;
  margin: 1em;
  animation: logo 1s;
  color: #fff;
}
@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container .todo .inputWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: inputWrapper 2s;
}
@keyframes inputWrapper {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container .todo .inputWrapper .inputTodo {
  font-size: 1.5rem;
  padding: 1rem 7rem 1rem 1rem;
  width: 100%;
  letter-spacing: 3px;
  border: 0;
  border-radius: 100px;
  outline: none;
}
.container .todo .inputWrapper .addTodo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  background: #07beb8;
  letter-spacing: 2px;
  color: #fff;
}
.container .todo .inputWrapper .addTodo:hover {
  background: #0ab1ab;
}
.container .todo .inputWrapper .addTodo:active {
  transform: scale(0.98);
}

/* Scroll */
::-webkit-scrollbar {
  width: 0;
}

/* Todo List  */
@keyframes fromTop-toCenter {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.container .todolist {
  overflow-y: scroll;
  width: 100%;
  margin-top: 50px;
  padding: 1em;
}
.container .todolist .list {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: 5px solid #23272f;
  border-bottom-left-radius: 20px;
  animation: fromTop-toCenter 0.5s;
}

/* Check Box */
.container .todolist .list input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.container .todolist .list input[type="checkbox"]:checked {
  background-color: #fff;
}

.container .todolist .list input[type="checkbox"]::before {
  position: absolute;
  content: "\2713";
  font-size: 2rem;
  line-height: 15px;
  margin-left: 0.1em;
  color: #07beb8;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}

.container .todolist .list input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.container .todolist .list .doneTodo:hover {
  transform: scale(1.2);
}
.container .todolist .list .doneTodo:active {
  transform: scale(0.95);
}

.container .todolist .list .todoText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .todolist .list .todoText h2 {
  margin-top: 22px;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
.container .todolist .list .todoText .editInputTodo {
  display: none;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  letter-spacing: 3px;
  border: 1px solid #07beb8;
  border-radius: 5px;
  outline: none;
  margin-top: 1em;
}

/* Button for Delete, Edit, Save */
.container .todolist .list .todoBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.59rem;
}
.container .todolist .list .todoBtn .btn {
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  text-align: center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.container .todolist .list .todoBtn .btn:hover {
  background: #e0e1e2;
}

.container .todolist .list .todoBtn .edit {
  transform: rotate(90deg);
}
.container .todolist .list .todoBtn .submit {
  color: #4caf50;
  display: none;
  animation: fromTop-toCenter 0.5s;
}

/* Modal  */
.container .messageModal {
  position: absolute;
  bottom: 2em;
  left: auto;
  right: auto;
  visibility: hidden;
  font-size: 1rem;
  border-radius: 2px;
  padding: 0.6em;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 1s linear;
}

.container .showMessageModal {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 5em 5em;
  }
  .container {
    /* width: 100%; */
    width: 500px;
  }

  .container .todolist .list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  body {
    padding: 0;
  }

  .container .todolist {
    margin-top: 0;
  }
}
@media only screen and (max-width: 450px) {
  .container .messageModal {
    font-size: 0.9rem;
  }
}
